body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f3;
}

/* .containter {
  background-color: #f2f2f3;
} */

.containter > div {
  background-color: white;
  border-radius: 5px;
}

.nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 230, 230);
  box-shadow: 0px 9px 20px rgb(225 225 244);
}

.nav__text {
  display: inline-block;
}

.nav__logo {
  margin-top: 15px;
  margin-left: 32px;
}

.nav__logo img {
  width: 27px;
}

.nav__text {
  font-size: 21px;
  font-weight: bold;
  font-family: samanta;
}

.nav__button {
  font-size: 17px;
  font-weight: bold;
  background-color: white;
  border: 1px solid rgb(70, 183, 228);
  border-radius: 4px;
  padding: 9px 30px 10px 30px;
  margin-left: 25px;
  margin-right: 91px;
  margin-top: 14px;
  margin-bottom: 16px;
}

.profile {
  grid-area: profile;
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  grid-area: sidebar;
}

.gallery {
  background: rgb(35, 167, 90);
  grid-area: gallery;
  padding: 0 25px 25px 25px;
}

.gallery__text {
  font-size: 21px;
  margin-top: 13px;
  font-weight: bold;
  margin-left: 5px;
}

.reviews {
  background: rgb(139, 61, 50);
  grid-area: reviews;
  padding: 15px 35px 25px 35px;
}

.containter {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto 1fr auto;
  padding: 2% 5.8% 2% 6.5%;
  gap: 20px;
  grid-template-areas:
    "profile profile profile profile sidebar sidebar"
    "gallery gallery gallery gallery sidebar sidebar"
    "gallery gallery gallery gallery  0 0"
    "reviews reviews reviews reviews  0 0";
}

@media screen and (max-width: 1024px) {
  .containter {
    grid-template-columns: 1fr;
    grid-template-areas:
      "profile"
      "sidebar"
      "gallery"
      "reviews";
  }
}

.profile__picture {
  height: 140px;
  width: 140px;
  background-color: green;
  border-radius: 50%;
  margin-top: 53px;
  margin-left: 46px;
  background-image: url("assets/profile.jpeg");
  background-position: center;
  background-size: cover;
}

.profile {
  display: flex;
  padding-bottom: 25px;
}

.profile__social img {
  width: 25px;
  margin-right: 6px;
}

.profile__social {
  margin-top: 35px;
  margin-left: 45px;
}
.profile__left {
  /* flex-basis: 200px; */
  flex-grow: 1;
  text-align: -webkit-center;
}

.profile__right {
  margin-left: 43px;
  margin-top: 0;
  flex-basis: 600px;
  flex-grow: 1;
}

.profile__button {
  font-size: 20px;
  background-color: white;
  border: 1px solid rgb(70, 183, 228);
  border-radius: 4px;
  padding: 12px 37px 12px 37px;
  margin-top: 25px;
  margin-left: 39px;
}

.profile__heading {
  font-size: 28px;
  margin-top: 45px;
  font-weight: bold;
}

.profile__text {
  font-size: 20px;
  margin-right: 15px;
}

.sidebar__logo > div {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ccc;
  background-image: url("assets/jslogo.png");
  background-position: center;
  background-size: cover;
}

.sidebar__logo {
  margin-left: 27px;
}

.sidebar__heading {
  border-bottom: 1px solid #f2f2f3;
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 2px;
}

.sidebar__h {
  margin-left: 20px;
}

.sidebar__lower-part > p {
  margin-left: 43px;
  margin-top: 40px;
  font-size: 21px;
  margin-bottom: 0;
}

.sidebar__lower-part {
  display: flex;
  flex-direction: column;
}

.sidebar__service {
  display: flex;
  padding: 18px 32px 0 35px;
  /* margin: 0 5px 0 0px; */
}

.sidebar__fee {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
}

.sidebar__fee--active {
  border-right: 0;
  border-color: rgb(121, 199, 252);
}

.sidebar__time {
  border-radius: 50%;
  background-color: gold;
  width: 50px;
  height: 50px;
}

.sidebar__time p {
  color: white;
  font-weight: bold;
  margin-left: 12px;
  margin-top: 7px;
}

.sidebar__price {
  margin-left: 12px;
  margin-top: 7px;
}

.sidebar__text {
  border-radius: 0 5px 5px 0;
  border: 1px solid #ccc;
  border-left: 0;
  padding-left: 8px;
}

.sidebar__text--active {
  border-color: rgb(121, 199, 252);
}

.sidebar__text div {
  display: flex;
  justify-content: space-evenly;
}

.sidebar__text img {
  margin-top: 13px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.sidebar__text p {
  margin-bottom: 13px;
  margin-top: auto;
}

.sidebar__text h2 {
  margin-bottom: 13px;
}

.sidebar__button {
  display: block;
  background-color: rgb(0, 174, 220);
  margin-left: 33px;
  border: none;
  border-radius: 15px;
  margin-top: 25px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  margin-right: 30px;
  padding: 20px;
  margin-bottom: 25px;
}

.gallery__pictures {
  display: flex;
  flex-wrap: wrap;
}

.gallery__picture {
  background-color: rgb(205, 240, 217);
  width: 100px;
  justify-content: space-between;
  margin: 5px;
  height: 150px;
  border-radius: 5px;
}
.gallery__picture-1 {
  flex-basis: 200px;
  flex-grow: 1;
  background-image: url("assets/palm1.jpg");
  background-size: cover;
}

.gallery__picture-2 {
  flex-basis: 200px;
  flex-grow: 1;
  background-image: url("assets/palm2.jpg");
  background-size: cover;
}

.gallery__picture-3 {
  flex-basis: 100px;
  flex-grow: 1;
  background-image: url("assets/palm3.jpg");
  background-size: cover;
}

.gallery__picture-4 {
  flex-basis: 100px;
  flex-grow: 1;
  background-image: url("assets/palm4.jpg");
  background-size: cover;
}

.gallery__picture-5 {
  flex-basis: 200px;
  flex-grow: 1;
  background-image: url("assets/palm5.jpg");
  background-size: cover;
}

.reviews__pic {
  width: 80px;
  height: 80px;
  background: #ccc;
  border-radius: 50%;
  margin-top: 18px;
  margin-left: 13px;
}

.reviews__container--border {
  border-bottom: 1px solid #ccc;
}

.reviews__content p {
  color: #ccc;
  font-size: 18px;
}

.reviews__pic-1 {
  background-image: url("assets/review1.jpg");
  background-size: cover;
  background-position: center;
}

.reviews__pic-2 {
  background-image: url("assets/review2.jpg");
  background-size: cover;
  background-position: center;
}

.gallery__picture-6 {
  flex-basis: 100px;
  flex-grow: 1;
  background-image: url("assets/palm6.jpg");
  background-size: cover;
}

.gallery__picture-7 {
  flex-basis: 150px;
  flex-grow: 1;
  background-image: url("assets/palm7.jpg");
  background-size: cover;
}

.gallery__picture-8 {
  flex-basis: 200px;
  flex-grow: 1;
  background-image: url("assets/palm8.jpg");
  background-size: cover;
}

.gallery__picture-9 {
  flex-basis: 150px;
  flex-grow: 1;
  background-image: url("assets/palm9.jpg");
  background-size: cover;
}

.gallery__picture-10 {
  flex-basis: 200px;
  flex-grow: 1;
  background-image: url("assets/palm10.jpg");
  background-size: cover;
}

.gallery__picture-11 {
  flex-basis: 200px;
  background-image: url("assets/palm11.jpg");
  background-size: cover;
}

.gallery__picture-12 {
  flex-basis: 100px;
  background-image: url("assets/palm12.jpg");
  background-size: cover;
}

.gallery__picture-13 {
  flex-basis: 200px;
  background-image: url("assets/palm13.jpg");
  background-size: cover;
}

.reviews__heading {
  display: flex;
  justify-content: space-between;
}

.reviews__container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.reviews__pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__pages * {
  margin: 5px;
}

.reviews__pages img {
  width: 30px;
}

.reviews__wraper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.reviews__button {
  background-color: #f0f1f1;
  color: #b0adb7;
  border: none;
  padding: 20px 60px 20px 60px;
  border-radius: 5px;
  display: block;
  float: right;
  margin-top: 25px;
  font-weight: bolder;
  font-size: 18px;
}
.reviews__text {
  margin-bottom: 25px;
  padding: 15px;
}

.reviews__textare {
  width: 100%;
  height: 150px;
  display: block;
  border-color: #ccc;
  border-radius: 5px;
}
